<h2>
    ADD EMPLOYEE
</h2>
<table border="1">
    <tr>
        <td>ID</td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>
            <input type="text">
        </td>

    </tr>
    <tr>
        <td>Salary</td>
        <td>
            <input type="text">
        </td>

    </tr>
    <tr>
        <button type="button">Add Employee</button>
    </tr>


</table>
<h2>
    Show All Employees
</h2>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Salary</td>
        <td>Department</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>
           <input type="text">
        </td>
        <td>
                <input type="text">
        <td>
                <input type="text">
        <td>
                <input type="text">

        <td>
            <button type="button">UPDATE</button>
        </td>
        <td>
            <button type="button">DELETE</button>
        </td>
    </tr>
    <tr>
        <td>
                <input type="text">
        </td>
        <td>
                <input type="text">
        <td>
                <input type="text">
        <td>
                <input type="text">

        <td>
            <button type="button">UPDATE</button>
        </td>
        <td>
            <button type="button">DELETE</button>
        </td>
    </tr>
    <tr>
        <td>
                <input type="text">
        </td>
        <td>
                <input type="text">
        <td>
                <input type="text">
        <td>
                <input type="text">

        <td>
            <button type="button">UPDATE</button>
        </td>
        <td>
            <button type="button">DELETE</button>
        </td>
    </tr>
    <tr>
        <td>
                <input type="text">
        </td>
        <td>
                <input type="text">
        <td>
                <input type="text">
        <td>
                <input type="text">

        <td>
            <button type="button">UPDATE</button>
        </td>
        <td>
            <button type="button">DELETE</button>
        </td>
    </tr>
</table>